<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
  <appSettings>
    <add key="auth0:ClientId" value="cirl6ZPrQ831bJcg3lLcxAyI7Z3CCthE" />
    <add key="auth0:ClientSecret" value="eMq2lPKjjIDt8SzX_nmvXsHcLmO4CBRHICYWNyrD-Fh4E4r-f90GVyQ_gKyT4-BP" />
    <add key="auth0:Domain" value="sonat.eu.auth0.com" />
  </appSettings>
</configuration>
